<div class="image"></div>
<div class="text d-flex w-100 justify-content-center align-items-center gap-4">

    <a class="user btn btn-light d-flex align-items-center justify-content-center fs-2 rounded-5"
        [routerLink]="[ './user/login' ]">
        <div>
            User
        </div>
    </a>


    <a class="worker btn btn-light d-flex align-items-center justify-content-center fs-2 rounded-5"
        [routerLink]="[ './worker/login' ]">
        <div>
            Worker
        </div>
    </a>

</div>